# Response time - Sentiment change
This notebook explores how the sentiment change depends on the reply time of airlines
### Imports

In [1]:
# IMPORTS
import sys
sys.path.append("../DBL-Data-Challenge")

# Own functions
from processes.reply4 import reply_set_up
from database.connect import getConnection

# Packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

/Users/alicialarsen/anaconda3/envs/ok/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [2]:
df_tweets = reply_set_up()

In [3]:
df_tweets.head()

,airline,reply_time,sentiment_change,canceling,boarding,stuck,booking,customers,dm,waiting,money,information,staff,baggage
0,AirFrance,0.0059,0.0,0,0,0,0,3,0,1,2,1,0,1
1,AirFrance,0.0059,1.1,0,0,0,0,3,0,1,2,1,0,1
2,AirFrance,0.0059,1.1,0,0,0,0,4,0,1,1,1,0,1
3,AirFrance,0.0078,-0.2,0,0,0,9,6,1,0,0,3,0,9
4,AirFrance,0.0178,0.6,0,0,0,1,0,3,0,0,2,0,5

In [6]:
df_tweets.loc[df_tweets['canceling'] != 0, 'canceling'] = 1
df_tweets.loc[df_tweets['boarding'] != 0, 'boarding'] = 1
df_tweets.loc[df_tweets['stuck'] != 0, 'stuck'] = 1
df_tweets.loc[df_tweets['booking'] != 0, 'booking'] = 1
df_tweets.loc[df_tweets['customers'] != 0, 'customers'] = 1
df_tweets.loc[df_tweets['dm'] != 0, 'dm'] = 1
df_tweets.loc[df_tweets['waiting'] != 0, 'waiting'] = 1
df_tweets.loc[df_tweets['money'] != 0, 'money'] = 1
df_tweets.loc[df_tweets['information'] != 0, 'information'] = 1
df_tweets.loc[df_tweets['staff'] != 0, 'staff'] = 1
df_tweets.loc[df_tweets['baggage'] != 0, 'baggage'] = 1

df_tweets.head()

,airline,reply_time,sentiment_change,canceling,boarding,stuck,booking,customers,dm,waiting,money,information,staff,baggage
0,AirFrance,0.0059,0.0,0,0,0,0,1,0,1,1,1,0,1
1,AirFrance,0.0059,1.1,0,0,0,0,1,0,1,1,1,0,1
2,AirFrance,0.0059,1.1,0,0,0,0,1,0,1,1,1,0,1
3,AirFrance,0.0078,-0.2,0,0,0,1,1,1,0,0,1,0,1
4,AirFrance,0.0178,0.6,0,0,0,1,0,1,0,0,1,0,1